mixin table(headers, rows)
  div.table-wrapper
    table.table
      thead
        tr
          each header in headers
            th #{header}
      tbody
        if rows && rows.length > 0
          each row in rows
            tr
              each cell, index in row
                if headers[index] === 'Action' && cell && cell.id
                  td
                    a.action-icon.view-icon(href='#', title='View', data-id=cell.id) 
                      i.fa.fa-eye
                    a.action-icon.edit-icon(href='#', title='Edit', data-id=cell.id)
                      i.fa.fa-edit
                    a.action-icon.status-icon(href='#', title='Status', data-id=cell.id)
                      i.fa.fa-circle-check
                    a.action-icon.delete-icon(href='#', title='Delete', data-id=cell.id)
                      i.fa.fa-trash
                else
                  td #{cell || ''}
        else
          tr
            td(colspan=headers.length) No data availablee


