mixin table(headers, rows)
  div.table-wrapper
    table.table
      thead
        tr
          each header in headers
            th #{header}
      tbody
        if rows && rows.length > 0
          each row in rows
            tr
              each cell, index in row
                if headers[index] === 'Action' && cell && cell.id
                  td
                    a.action-icon.view-icon(href='#', title='View', data-id=cell.id) 
                      i.fa.fa-eye
                    a.action-icon.edit-icon(href='#', title='Edit', data-id=cell.id)
                      i.fa.fa-edit
                    a.action-icon.delete-icon(href='#', title='Delete', data-id=cell.id)
                      i.fa.fa-trash
                else
                  td #{cell || ''}
        else
          tr
            td(colspan=headers.length) No data availablee

// Modals
div#modal-view.modal-overlay.hidden
  div.modal
    div.modal-header
      h2.modal-title Job Details
      span.modal-close &times;
    div.modal-body
      p View content here.
    div.modal-footer
      button.modal-close-btn Cancel
