block content
  div.about-contents
    h1.about-title About
    p.about-text Updating your information will offer you the most relevant content 
    div.about-info
      div.about-info-item
        p Add skills
        i.fa-solid.fa-plus.modal-trigger(data-target='#modal-skills', style='cursor: pointer;')
      ul#skills-list
      div.about-info-item.modal-trigger(data-target='#modal-experience', style='cursor: pointer;')
        p Add work experience
        i.fa-solid.fa-plus.modal-trigger(data-target='#modal-experience', style='cursor: pointer;')
      div.about-info-item.modal-trigger(data-target='#modal-education', style='cursor: pointer;')
        p Add education
        i.fa-solid.fa-plus.modal-trigger(data-target='#modal-education', style='cursor: pointer;')


      // Include the modal component for skills
    div#modal-skills.modal-overlay.hidden
      div.modal
        div.modal-header
          h2.modal-title Skills
          span.modal-close &times;
        div.modal-body
          form
            div.form-group
              label(for='skill') Skill
              input#skill(type='text', name='skill', placeholder='JavaScript', required)
            div.form-group
              label(for='experience') Years of Experience
              select#experience(name='experience', required)
                option(value='') Select years of experience
                option(value='1') 1 year
                option(value='2') 2 years
                option(value='3') 3 years
                option(value='4') 4 years
                option(value='5') 5 years
                option(value='5+') More than 5 years
        div.modal-footer
          button.modal-close-btn(type='button') Cancel
          button.modal-save-btn(type='button') Save


    // Include the modal component for work experience
    div#modal-experience.modal-overlay.hidden
      div.modal
        div.modal-header
          h2.modal-title Work Experience
          span.modal-close &times;
        div.modal-body
          form
            div.form-group
              label(for='job-title') Job Title
              input#job-title(type='text', name='job-title', placeholder='Data Analyst', required)
            div.form-group
              label(for='company') Company Name
              input#company(type='text', name='company', placeholder='Google', required)
            div.checkbox
              input#current-job(type='checkbox', name='current-job')
              label(for='current-job') I'm currently working here
            div.form-group
              label(for='start-date') Start Date
              div.date-fields
                select#start-month(name='start-month', required)
                  option(value='') Month
                  option(value='1') January
                  option(value='2') February
                  option(value='3') March
                  option(value='4') April
                  option(value='5') May
                  option(value='6') June
                  option(value='7') July
                  option(value='8') August
                  option(value='9') September
                  option(value='10') October
                  option(value='11') November
                  option(value='12') December
                select#start-year(name='start-year', required)
                  option(value='') Year
                  - for (var i = new Date().getFullYear(); i >= 1980; i--)
                    option(value=i) #{i}
            div.form-group
              label(for='end-date') End Date
              div.date-fields
                select#end-month(name='end-month')
                  option(value='') Month
                  option(value='1') January
                  option(value='2') February
                  option(value='3') March
                  option(value='4') April
                  option(value='5') May
                  option(value='6') June
                  option(value='7') July
                  option(value='8') August
                  option(value='9') September
                  option(value='10') October
                  option(value='11') November
                  option(value='12') December
                select#end-year(name='end-year')
                  option(value='') Year
                  - for (var i = new Date().getFullYear(); i >= 1980; i--)
                    option(value=i) #{i}
            div.form-group
              label(for='responsibility') Responsibility
              textarea#responsibility(name='responsibility', placeholder='Describe your responsibilities', required)
        div.modal-footer
          button.modal-close-btn Cancel
          button.modal-save-btn Save

    // Include the modal component for education
    div#modal-education.modal-overlay.hidden
      div.modal
        div.modal-header
          h2.modal-title Education
          span.modal-close &times;
        div.modal-body
          form
            div.form-group
              label(for='institution') Name of Institution
              input#institution(type='text', name='institution', placeholder='University of Roehampton', required)
            div.form-group
              label(for='course') Field of Study
              input#course(type='text', name='course', placeholder='Computer Science', required)
            div.form-group
              label(for='degree') Degree
              input#degree(type='text', name='degree', placeholder='BSc.', required)
            div.form-group
              label(for='start-date') Start Date
              div.date-fields
                select#start-month(name='start-month', required)
                  option(value='') Month
                  option(value='1') January
                  option(value='2') February
                  option(value='3') March
                  option(value='4') April
                  option(value='5') May
                  option(value='6') June
                  option(value='7') July
                  option(value='8') August
                  option(value='9') September
                  option(value='10') October
                  option(value='11') November
                  option(value='12') December
                select#start-year(name='start-year', required)
                  option(value='') Year
                  - for (var i = new Date().getFullYear(); i >= 2000; i--)
                    option(value=i) #{i}
            div.form-group
              label(for='end-date') End Date
              div.date-fields
                select#end-month(name='end-month')
                  option(value='') Month
                  option(value='1') January
                  option(value='2') February
                  option(value='3') March
                  option(value='4') April
                  option(value='5') May
                  option(value='6') June
                  option(value='7') July
                  option(value='8') August
                  option(value='9') September
                  option(value='10') October
                  option(value='11') November
                  option(value='12') December
                select#end-year(name='end-year')
                  option(value='') Year
                  - for (var i = new Date().getFullYear(); i >= 2000; i--)
                    option(value=i) #{i}
        div.modal-footer
          button.modal-close-btn Cancel
          button.modal-save-btn Save      


block styles
  link(rel='stylesheet', href='/css/modal.css')
  link(rel='stylesheet', href='/css/about.css')
  link(rel='stylesheet', href='/css/global-styles.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")

block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src='https://cdn.jsdelivr.net/npm/yup@0.32.9/dist/yup.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
  script(src='/js/about.js')
  script(src='/js/modal.js')


